# Ignore raw datasets
data/raw/
data/processed/

# Ignore only large model weights
models/**/*.pth
models/**/*.h5
models/**/*.ckpt
models/**/*.pt

# But DO NOT ignore model code
!models/**/*.py

# Ignore large results
results/**/*.mp4
results/**/*.avi
results/**/*.zip

# Allow visualization images (small)
!results/**/*.png
!results/**/*.jpg

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/
